# Generated Clojure and lein files / directories.
clj-mem-pwds/target
clj-mem-pwds/classes
clj-mem-pwds/checkouts
clj-mem-pwds/lib/
pom.xml
pom.xml.asc
*.jar
*.class
clj-mem-pwds/.lein-*
clj-mem-pwds/.nrepl-port

# Emacs backup files.
*~
