# Generated Clojure and lein files / directories.
target
classes
checkouts
lib/
pom.xml
pom.xml.asc
*.jar
*.class
.lein-*
.nrepl-port

# IntelliJ projects
.idea/workspace.xml
.idea/tasks.xml

# Test temporary directory
.tmp

# Emacs backup files.
*~
